.itineraryPreview {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: rgb(213, 213, 255);
    border-radius: 2rem;
    margin: 2rem 0rem;
}

.saveItineraryButton {
    align-items: flex-end;
}

.previewCard {
    background-color:rgb(236, 236, 255);
    min-width: 8rem;
    min-height: 6rem;
    padding: 2rem;
    margin: 1rem 0rem;
    border-radius: 2rem;
    flex-basis: 20%;
}

.previewCard h3 {
    margin-bottom: 0rem;
}