@import "./dropdowns.css";
@import "./weather.css";
@import "./itineraryPreview.css";
@import "./savedItinerary.css";
@import "./header.css";

img {
    width: 20%;
    height: 150px;
}

body {
    background-color:rgb(236, 236, 255);
}

h1, h2, h3, h4, h5 {
    font-family: 'Staatliches', cursive;   
}

section {
    font-family: 'Montserrat', sans-serif;
}