.weather {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.weatherCard {
    border: 2px dotted goldenrod;
    background-color: lightblue;
    padding: .3rem;
    justify-content: space-evenly;
    margin: 1rem auto;
}