.weather {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: rgb(125, 140, 228);
    border-radius: 1rem;
    margin: 1rem 2rem 0rem 2rem;
}

.weatherCard {
    background-color: rgb(236, 236, 255);
    border-radius: .5rem;
    padding: .3rem;
    justify-content: space-evenly;
    margin: 1rem auto;
}